html,
body {
  font-size: 1.3rem;
  font-family: "Open Sans", sans-serif;
  color: #f5f5f5;
  background: #21232a;
  padding: 10px;
}

button {
  padding: 1rem;
  margin-right: 1rem;
  font-size: 1.3rem;
}
